@import "_var";
@import "_mixins";

%padding-properties {
    padding-left: $gap * 2;
    padding-right: $gap * 2;
    font-family: "Source Sans Pro";
}
%flex-properties {
    display: flex;
    justify-content: flex-end;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
header {
    @extend %flex-properties;
}
.container {
    @extend %flex-properties;
    flex-direction: row;
    margin-top: auto;
    margin-left: auto;
    max-width: 940px;
    height: 415px;
}
.carousel {
    @extend %flex-properties;
    flex-flow: row wrap;
    width: $percentage-ratio * 13;
    height: $percentage-ratio * 20;
}
.slider_one {
    display: flex;
    height: $percentage-ratio * 10;
    gap: $gap;
    transition: all 0.5s;
}
.row_bottom {
    display: flex;
}
.slider_two {
    display: flex;
    height: $percentage-ratio * 20;
    gap: $gap;
    transition: all 0.5s;
}
.controls {
    @include control();
}
.lorem-ipsum {
    @include text-right();
}
img {
    border-radius: 8px;
}
.slider_image {
    width: auto;
    height: $gap * 20;
}
.other_content {
    height: $gap * 10;
    border-radius: $gap / 2;
    background-color: #DDDDDD;
}
.header_el_one {
    width: 301px;
}
.header_el_two {
    width: 621px;
    margin-left: 20px;
}
.footer_el {
    width: 941px;
    margin-left: auto;
}
footer {
    margin-top: auto;
}