body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
footer {
    margin-top: auto;
}
h1 {
    font-family: "Source Sans Pro";
    color: #134880;
    font-size: 32px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
p {
    font-family: "Source Sans Pro";
    color: #484A4C;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
img {
    border-radius: 8px;
}
button {
    width: 60px;
    height: 60px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-bottom: 10px;
}
.other_content {
    width: 70%;
    height: 100px;
    border-radius: 5px;
    margin-left: auto;
    background-color: #DDDDDD;
}
.slider_image {
    height: 200px;
    width: auto;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 940px;
    height: 415px;
    margin-top: auto;
    margin-left: auto;
}
.carousel {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}
.slider_one {
    height: 50%;
    display: flex;
    gap: 10px;
    transition: all 0.5s;
}
.slider_two {
    height: 100%;
    display: flex;
    gap: 10px;
    transition: all 0.5s;
}
.row_bottom {
    display: flex;
}
.controls {
    background-color: white;
    padding-left: 100px;
    height: 200px;
    width: 20%;
    z-index: 1;
}
.lorem-ipsum {
    width: 35%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

